---
title: Projects
layout: default
---
<body>
	<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Fuet Studios</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="team.html">Team</a></li>
								<li class="current"><a href="projects.html">Projects</a></li>
							</ul>
						</nav>

				</div>
			</div>

		<!-- Main -->
			 <div id="main-wrapper">
				<div class="container">
					<!--<div class="panel-group" id="accordion" style="width: 100%;">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#project1">
									TBD</a>
									<a data-toggle="collapse" data-parent="#accordion" href="#project1">
									TBD</a>
								</h4>
							</div>
							<div id="project1" class="panel-collapse collapse in">
								<div class="panel-body"></div>
							</div>
						</div>-->
					{%include blog.html%}
				</div>
			
			</div> 


	</div>

	

</body>
</html>
