		
		

				<!-- Blog -->
					
						
{% for post in site.posts reversed %}
<div class="mdl-card mdl-shadow--2dp mdl-card--horizontal">
  <div class="mdl-card__media">
    <img src="{{ post.image | prepend: site.baseurl}}" class="image card">
  </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ post.title }}</h2>
      <div class="mdl-card__subtitle-text"><p>Posted {{ post.date | date_to_string }}</p></div>
    </div>
    <div class="mdl-card__supporting-text">
       {{ post.excerpt }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Get Started</a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple"><i class="material-icons">share</i></button>
    </div>
</div>

{% endfor %}
					



