<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Fuet Studios</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="{{ site.baseurl }}/team.html">Team</a></li>
								<li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
							</ul>
						</nav>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<header>
										</header>
										<img src="assets/images/logo2.jpg" alt="logo2" height="350" width="350">
									</section>
								</div>
							</div>
							<footer>
								<ul class="social">
										<li><a class="icon fa-facebook" href="https://www.facebook.com/FuetStudios/"><span class="label">Facebook</span></a></li>
										<li><a class="icon fa-twitter" href="https://twitter.com/FuetStudios"><span class="label">Twitter</span></a></li>

									</ul>
							</footer>
						</section>

				</div>
			</div>
