<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="{{ site.baseurl }}/team.html">Team</a></li>
								<li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
							</ul>
						</nav>

		</div>
	</div>