@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");

/*
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	/* MDL card */
.mdl-card + .mdl-card {
  margin-top: 40px !important;
}

// Card styles

.mdl-card--horizontal {
  flex-direction: column !important;
  height: 1vh !important; /* 1 */
  padding-left: 150px !important;
  width: 100% !important;
  
  .mdl-card__media {
    left: 0 !important;
    position: absolute !important;
    width: 150px !important;
  }
  
  .mdl-card__supporting-text {
    flex: 1 1 auto !important;
    width: auto !important;
  }
}

.mdl-card--horizontal-2 {
  flex-direction: row !important;
  flex-wrap: wrap !important;
  min-height: 0px !important;
  
  .mdl-card__title {
    align-items: flex-start !important;
    flex-direction: column !important;
    flex: 1 auto !important;
    float: left !important;
  }
  .mdl-card__title-text {
    align-self: flex-start !important;
  }
  .mdl-card__media {
    flex: 0 auto !important; 
    float: right !important;
    height: 112px !important;
    margin: 16px 16px 0 0 !important;
    width: 112px !important;
  }
  .mdl-card__actions {
    clear: both !important
    flex: 1 auto !important; 
  }
} 
	body
	{
		background: #252122;
		background-image: url('images/bg02.png');
	}

		body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body,input,textarea,select
	{
		font-family: 'Source Sans Pro';
		font-weight: 300;
		color: #5d5d5d;
	}

	strong, b
	{
		color: #252122;
		font-weight: 400;
	}

	i, em
	{
		font-style: italic;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	blockquote
	{
		border-left: solid 0.75em #dddddd;
		padding: 1em 0 1em 1.5em;
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6
	{
		color: #252122;
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}

	a
	{
		color: #d52349;
		text-decoration: underline;
	}

		a:hover
		{
			text-decoration: none;
		}

	br.clear
	{
		clear: both;
	}

	hr
	{
		border: 0;
		border-top: solid 1px #dddddd;
		height: 1px;
		margin: 2em 0 2em 0;
	}

	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}

	/* Form */

		form
		{
		}

			form label
			{
				display: block;
				color: #252122;
				font-weight: 400;
				margin: 0 0 0.5em 0;
			}

			form input[type=text],
			form input[type=email],
			form input[type=password],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				border: 0;
				padding: 0.75em 1em;
				font-size: 1em;
				border-radius: 5px;
				border: solid 1px #dddddd;
				background: #fff;
				width: 100%;
			}

			form input[type=text]:focus,
			form input[type=email]:focus,
			form input[type=password]:focus,
			form select:focus,
			form textarea:focus
			{
				box-shadow: inset 0px 0px 1px 1px #43bff0;
			}

			form textarea
			{
				height: 15em;
			}

			form .formerize-placeholder
			{
				color: #555 !important;
			}

			form ::-webkit-input-placeholder
			{
				color: #555 !important;
			}

			form :-moz-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-placeholder
			{
				color: #555 !important;
			}

			form :-ms-input-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	/* Tables */

		table
		{
			width: 100%;
		}

			table.default
			{
				width: 100%;
			}

				table.default tr
				{
					border-top: solid 1px #dddddd;
				}

					table.default tr:first-child
					{
						border-top: 0;
					}

				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}

				table.default th
				{
					text-align: left;
					padding: 0.5em 1em 0.5em 1em;
					font-weight: 700;
					margin: 0 0 1em 0;
				}

				table.default thead
				{
					border-bottom: solid 2px #dddddd;
				}

				table.default tfoot
				{
				}

				table.default tbody
				{
				}


	/* Section/Article */

		section,
		article
		{
			margin-bottom: 2.5em;
		}

			

		header
		{
		}

			header > p
			{
				display: block;
				font-style: italic;
			}

			header.major
			{
				position: relative;
				text-align: center;
				border-top: solid 1px #ccc;
				top: 1em;
			}

				header.major h2
				{
					background: #fff;
					position: relative;
					top: -0.65em;
					display: inline;
					margin: 0;
					padding: 0 1em 0 1em;
				}
			.header-img {
				padding-top: 4em;
			}
			.header-img img {
				width: 100%;
			}

	/* Box */

		.box
		{
			background: #ffffff;
			border-bottom: solid 2px #ccc;

		}

			.box .image.featured
			{
				position: relative;
				width: auto;
			}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			-webkit-appearance: none;
			display: inline-block;
			text-decoration: none;
			cursor: pointer;
			border: 0;
			border-radius: 5px;
			background: #d52349;
			color: #fff !important;
			font-weight: 700;
			outline: 0;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-o-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
		}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background: #e53359;
			}

			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background: #c51349;
			}

			input[type="button"].alt,
			input[type="submit"].alt,
			input[type="reset"].alt,
			.button.alt
			{
				background: #252122;
			}

				input[type="button"].alt:hover,
				input[type="submit"].alt:hover,
				input[type="reset"].alt:hover,
				.button.alt:hover
				{
					background: #353132;
				}

				input[type="button"].alt:active,
				input[type="submit"].alt:active,
				input[type="reset"].alt:active,
				.button.alt:active
				{
					background: #151112;
				}

			.button.icon
			{
			}

				.button.icon:before
				{
					opacity: 0.35;
					position: relative;
					top: 0.05em;
					margin-right: 0.75em;
				}

	/* Image */

		.image
		{
			display: inline-block;
			outline: 0;
		}

			.image img
			{
				display: block;
				width: 100%;
			}

			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			.image.card
			{
				float: left;
				max-width: 300px;
				max-height: 300px;
				border-radius: 8px;
				width: auto;

			}

	/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}

				ul.default li
				{
					padding-left: 0.5em;
				}

			ul.contact
			{
			}

				ul.contact li
				{
					position: relative;
					border-top: solid 1px #ddd;
					padding: 1.3em 0 1.3em 7em;
				}

					ul.contact li h3
					{
						position: absolute;
						left: 0;
						top: 1.3em;
						font-size: 1.1em;
					}

					ul.contact li p
					{
						margin: 0;
					}

				ul.contact li:first-child
				{
					padding-top: 0;
					border-top: 0;
				}

					ul.contact li:first-child h3
					{
						top: 0;
					}

			ul.dates
			{
			}

				ul.dates li
				{
					position: relative;
					border-top: solid 1px #ddd;
					padding: 1.3em 0 1.3em 6.75em;
				}

				ul.dates .date
				{
					display: block;
					position: absolute;
					left: 0;
					top: 1.3em;
					background-color: #d52349;
					height: 3.5em;
					text-align: center;
					color: #fff;
					line-height: 1em;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					padding: 0.5em 0.75em 0 1em;
				}

					ul.dates .date:after
					{
						content: '';
						position: absolute;
						bottom: 0;
						right: -1.2em;
						border-left: solid 1.25em #d52349;
						border-top: solid 1.8em transparent;
						border-bottom: solid 1.8em transparent;
					}

					ul.dates .date strong
					{
						display: block;
						font-size: 1.75em;
						padding-top: 0.15em;
					}

				ul.dates h3
				{
					font-size: 1.1em;
				}

				ul.dates p
				{
					margin: 0;
				}

				ul.dates li:first-child
				{
					border-top: 0;
					padding-top: 0;
				}

					ul.dates li:first-child .date
					{
						top: 0;
					}

			ul.divided
			{
			}

				ul.divided li
				{
					border-top: solid 1px #ddd;
					padding: 1em 0 1em 0;
				}

				ul.divided li:first-child
				{
					border-top: 0;
					padding-top: 0;
				}

			ul.social
			{
				overflow: hidden;
				cursor: default;
			}

				ul.social li
				{
					display: inline-block;
				}

				ul.social li:first-child
				{
					margin-left: 0;
				}

				ul.social li a
				{
					display: inline-block;
					width: 3em;
					height: 3em;
					text-align: center;
					border-radius: 5px;
					background: #888;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-o-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
				}

					ul.social li a:before
					{
						color: #fff;
						font-size: 2em;
						line-height: 1.5em;
					}

				ul.social li a.fa-facebook			{ background: #3c5a98; }
				ul.social li a.fa-facebook:hover	{ background: #4c6aa8; }
				ul.social li a.fa-twitter			{ background: #2daae4; }
				ul.social li a.fa-twitter:hover		{ background: #3dbaf4; }
				ul.social li a.fa-dribbble			{ background: #c4376b; }
				ul.social li a.fa-dribbble:hover	{ background: #d4477b; }
				ul.social li a.fa-linkedin			{ background: #006599; }
				ul.social li a.fa-linkedin:hover	{ background: #1075a9; }
				ul.social li a.fa-tumblr			{ background: #2b4661; }
				ul.social li a.fa-tumblr:hover		{ background: #3b5671; }
				ul.social li a.fa-google-plus		{ background: #da2713; }
				ul.social li a.fa-google-plus:hover	{ background: #ea3723; }

		ol
		{
		}

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.featured
		{
			position: relative;
			display: inline-block;
			background-color: #d52349;
			width: 9em;
			padding: 1.75em 0 0.75em 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin: 0 0 4.5em 0;
			cursor: default;
		}

			.icon.featured:before
			{
				font-size: 4.5em;
				line-height: 1em;
				color: #fff;
			}

			.icon.featured:after
			{
				content: '';
				position: absolute;
				bottom: -1.95em;
				left: 0;
				border-top: solid 2em #d52349;
				border-left: solid 4.5em transparent;
				border-right: solid 4.5em transparent;
			}

			.icon.featured.alt
			{
				background-color: #252122;
			}

				.icon.featured.alt:after
				{
					border-top-color: #252122;
				}

			.icon.featured.alt2
			{
				background-color: #827a7c;
			}

				.icon.featured.alt2:after
				{
					border-top-color: #827a7c;
				}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		background: #CCE8F4 url('../images/pic01.jpg');
		background-position: center center;
		background-size: auto 100%;
		background-repeat: no-repeat;
		text-align: center;
	}

		#banner header
		{
			background-color: #252122;
			background-color: rgba(34,30,31,0.98);
		}

			#banner header h2
			{
				color: #fff;
				font-weight: 700;
			}

			#banner header p
			{
				color: #d52349;
				padding: 0;
				font-style: normal;
				margin: 0;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		background: #ffffff;
		border-bottom: solid 1px #ccc;
	}

	#main-wrapper
	{
		position: relative;
		background: #f7f7f7 url('images/bg02.png');
	}

		#main-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: url('images/bg01.png');
			background-size: 100% 100%;
			z-index: 0;
			opacity: 0.1;
		}

		#main-wrapper .major
		{
		}

			#main-wrapper .major h2
			{
				background: #f7f7f7 url('images/bg02.png');
			}

	#footer-wrapper
	{
		position: relative;
		color: #858484;
	}

		#footer-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: url('images/bg01.png');
			background-size: 100% 100%;
			z-index: 0;
			opacity: 0.5;
		}

		#footer-wrapper a
		{
			color: #c5c4c4;
		}

		#footer-wrapper h2,
		#footer-wrapper h3,
		#footer-wrapper h4,
		#footer-wrapper h5,
		#footer-wrapper h6,
		#footer-wrapper strong,
		#footer-wrapper b
		{
			color: #fff;
		}

		#footer-wrapper h1 a,
		#footer-wrapper h2 a,
		#footer-wrapper h3 a,
		#footer-wrapper h4 a,
		#footer-wrapper h5 a,
		#footer-wrapper h6 a
		{
			color: inherit;
		}

		#footer-wrapper ul.contact li
		{
			border-top-color: #353434;
			border-top-color: rgba(255,255,255,0.05);
		}

		#footer-wrapper ul.dates li
		{
			border-top-color: #353434;
			border-top-color: rgba(255,255,255,0.05);
		}

		#footer-wrapper ul.divided li
		{
			border-top-color: #353434;
			border-top-color: rgba(255,255,255,0.05);
		}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		text-align: center;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		text-align: center;
	}

		#copyright .links
		{
			display: inline-block;
			background: #2C2929;
			background: rgba(255,255,255,0.05);
			border-radius: 5px;
			margin: 0;
		}

.accordion {
  margin-bottom: @baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  .border-radius(4px);
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

.col
{
}
	.col.card{
		width: 30%;
		margin: 5px;
	}
	.col.text{
		width: 60%;
		margin: 5px;
		background-color: red;
	}


	