<body>
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">

			<!-- Blog -->
				<section>
					<header class="major">
						<h2>{{ page.title }}</h2>
						<p>Posted </p>
					</header>
					<div class="row">
						<div class="8u -2u">
							<section class="box">
								<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ page.featured }}" alt="" /></a>
								{{ page.content }}
							</section>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</div>
